<ngx-desktop-window [os]="os" [horizontalAlignment]="'center'">
  <ngx-desktop-title-bar [os]="os"></ngx-desktop-title-bar>
  <ngx-desktop-segmented-control >
    <ngx-desktop-segmented-control-item label="Text Input">
      <app-input-demo [(os)]="os" [(autoOs)]="autoOs" (autoOsChange)="autoOsChange($event)"></app-input-demo>
    </ngx-desktop-segmented-control-item>

    <ngx-desktop-segmented-control-item label="Button">
      <app-button-demo [(os)]="os" [(autoOs)]="autoOs" (autoOsChange)="autoOsChange($event)"></app-button-demo>
    </ngx-desktop-segmented-control-item>

    <ngx-desktop-segmented-control-item label="Progress Circle">
      <app-progress-circle [(os)]="os" [(autoOs)]="autoOs" (autoOsChange)="autoOsChange($event)"></app-progress-circle>
    </ngx-desktop-segmented-control-item>

    <ngx-desktop-segmented-control-item label="Checkbox">
      <app-checkbox-demo [(os)]="os" [(autoOs)]="autoOs" (autoOsChange)="autoOsChange($event)"></app-checkbox-demo>
    </ngx-desktop-segmented-control-item>
  </ngx-desktop-segmented-control>
</ngx-desktop-window>
