<div>
  <ngx-desktop-checkbox [label]="'test'"></ngx-desktop-checkbox>
  <ngx-desktop-checkbox [label]="'test'"></ngx-desktop-checkbox>
  <ngx-desktop-button>Press me!</ngx-desktop-button>
  <ngx-desktop-radio [label]="'radio1'" [(ngModel)]="a" [name]="'aa'" [value]="'1'"></ngx-desktop-radio>
  <ngx-desktop-radio [label]="'radio2'" [(ngModel)]="a" [name]="'aa'" [value]="'2'"></ngx-desktop-radio>
  <ngx-desktop-button>123</ngx-desktop-button>
  <ngx-desktop-text-input os="windows" label="123"></ngx-desktop-text-input>
  <ngx-desktop-segmented-control [ngModel]="2">
    <ngx-desktop-segmented-control-item label="123">
      <ngx-desktop-text-input os="mac" label="123" width="300px"></ngx-desktop-text-input>
    </ngx-desktop-segmented-control-item>
    <ngx-desktop-segmented-control-item label="123">test2</ngx-desktop-segmented-control-item>
    <ngx-desktop-segmented-control-item label="234234">test3</ngx-desktop-segmented-control-item>
  </ngx-desktop-segmented-control>


  <ngx-desktop-checkbox os="mac" [label]="'test'"></ngx-desktop-checkbox>
  <ngx-desktop-checkbox os="mac" [label]="'test'"></ngx-desktop-checkbox>
    <ngx-desktop-button [disabled]="true">Press me!</ngx-desktop-button>
  <!--  <ngx-desktop-button [color]="'blue'">Press me!</ngx-desktop-button>-->
  <ngx-desktop-button os="mac">Press me!</ngx-desktop-button>
  <!--  <ngx-desktop-box [label]="'Box'" [marginBottom]="'100px'">-->
  <!--    <span style='display: block; user-select: none; cursor: default; font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif; font-size: 11px; color: rgb(0, 0, 0); margin: 0px 0px 1px 7px; line-height: 13.2px;'>Box</span>-->
  <!--  </ngx-desktop-box>-->
  <!--  <ngx-desktop-label>Test Label</ngx-desktop-label>-->
  <ngx-desktop-radio os="mac" [label]="'radio1'" [(ngModel)]="a" [name]="'aa'" [value]="'1'"></ngx-desktop-radio>
  <ngx-desktop-radio os="mac" [label]="'radio2'" [(ngModel)]="a" [name]="'aa'" [value]="'2'"></ngx-desktop-radio>
  <ngx-desktop-button os="mac" color="blue">123</ngx-desktop-button>

  <ngx-desktop-text [size]="16" paddingBottom="100px" textAlign="center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam justo urna, posuere vitae est et, accumsan
    bibendum sapien. Suspendisse lobortis mollis finibus. Nunc tincidunt enim est, efficitur semper dolor luctus
    eget. Donec faucibus dolor id leo tincidunt, condimentum mattis augue finibus. Etiam hendrerit ipsum nisi,
    vel semper dolor malesuada a. Pellentesque a scelerisque sapien, quis interdum odio. Nulla posuere, velit sit
    amet lacinia pharetra, sapien arcu convallis dolor, id congue erat lectus nec sem. Praesent pretium a nisi et
    elementum. Cras lacinia sollicitudin suscipit. Phasellus accumsan felis odio. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.
  </ngx-desktop-text>



</div>
